<include file="Public:header"/>
<link href="/js/colorbox/skin5/colorbox.css" rel="stylesheet" />
<script src="/js/colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript">
	function na2(control,index){
		$("#na2 li").attr("class","nor1");
		$(control).attr("class","act1");
		$("[id^=na2_Content]").hide();
		$("#na2_Content"+index).show();
	}
</script>
<script type="text/javascript">
$(function(){
		$('#asave').click(function(){
			$.ajax({
				url:"{:U('home/ajax/collectproject')}",
				dataType:"json",
				type:"get",
				data:{"type":"1","objid":"<php>echo $model['id'];</php>"},
				success:function(data){
					if(data.type=="0"){
						$("#asave img").attr("src","/images/xm_22_1.jpg");
						return;
					}
					if(data.type=="2"){
						$("#asave img").attr("src","/images/xm_22.jpg");
						return;
					}
					
					
					if(data.type=="1"){
						window.location.href="{:U('Uc/User/login?returnurl=')}";	
					}
				},
				error:function(error){
					alert(error);	
				}
			})
		})
		
			$.ajax({
				url:"{:U('home/ajax/iscollec')}",
				dataType:"json",
				type:"get",
				data:{"type":"1","objid":"<php>echo $model['id'];</php>"},
				success:function(data){
					if(data.type=="0"){
						$("#asave img").attr("src","/images/xm_22_1.jpg");
						return;
					}
					if(data.type=="1"){
						$("#asave img").attr("src","/images/xm_22.jpg");
						return;
					}
					
					
				},
				error:function(error){
					alert(error);	
				}
			})
		
		
		$("#asking").click(function(){
			//判断用户是否在线
			$.ajax({
				url:"{:U('Home/ajax/isline')}",
				dataType:"json",
				type:"get",
				data:{},
				success:function(data){
					
					if(data.type=="1"){
						window.location.href="{:U('Uc/User/login?returnurl=')}";	
					}else{
						$("#askinghide").click();	
					}
					
				},
				error:function(data){
					alert(data.type);	
				}
			})	
		})
		
		//了解咨询
		$("#askinghide").colorbox({inline:true, width:"600px"});
		
		
})
</script>
<!------------------------------------------------------------中间----开始----------------------------------------> 
   <div class="Main">
     
        <div class="main6">
          <p>当前位置：<a href="/">首页</a> > <strong>专家详细  </strong></p>
        </div>
       <div class="main_box">
          <div class="main7">
            <div class="m7_left">
              <div class="m7l_01">
                <span style=" font-size:17px; font-family:'微软雅黑'; float:left; width:380px;height:50px; line-height:50px;">
                <p style=" margin-left:23px; color:#696868;">专家名称</p>
                <p style=" margin-left:23px; color:#EA4940;">{$model.ename}</p></span>
                
                  <span style=" float:right; width:180px;font-size:12px; font-family:'宋体'; margin-top:16px;">
                 
                <div style="width:auto; float:left;">
                <include file="Public:share"/>
                </div>
                <div style="margin-top:5px;">
                <p style=" background:url(/images/xm_09.jpg) no-repeat left center; padding-left:18px;"><a href="<?php echo U('home/Report/index?cat=3&url=')?>">举报</a> <img src="/images/xm_08.jpg"></p>
                </div>
                </span>
              </div>
              <div class="m7l_02">
                <div class="m7l_02a">
                <input type="hidden" value="{$model.id}" />
                  <p><font color="#FE3434">{$model.id|date="Y-m-d",###}</font>  发布</p>
                  <p>已有<font color="#FE3434">{$model.hits}</font>人浏览</p>
                </div>
                <div class="m7l_02b">
                  <!--<p><font color="#FE3434">（国内项目）</font></p>
                  <p><a href="#" style=" text-decoration:underline; color:#217DC7; font-weight:bold;">英文版</a></p>
                  <img src="images/xm_10.jpg" /> -->
                </div>
              </div>
              <style type="text/css">
			  .m7l_03a{width:580px}
			  .m7l_03a span {width:240px; padding-left:38px;}
			  </style>
              <div class="m7l_03">
               
               	<table cellpadding="0" cellspacing="0" border="0">
                	<tr>
                    	<td style="width:156px; text-align:center;">
                        <img id="imgeface"  style="width:130px; height:160px;" src="<if condition="$model['eface'] eq ''">/images/noface.jpg<else/>{$model.eface}</if>" />
          				 <br />
                         <br />
                         <a href="javascript:;" id="asave"><img src="/images/xm_22.jpg" /></a>
                         <br />
                         <br />
                          <a href="javascript:;" id="asking"><font style="margin-left:auto;" class="spanlbl">了解咨询</font></a>
                        </td>
                        <td>
                         <div class="m7l_03a">
                          <span><p style="color:#696868;">姓　　名：</p><p style="color:#FE3434;">{$model.ename}</p></span>
                           <span><p style="color:#696868;">性　　别：</p><p style=" color:#000;"><if condition="$model['EGENDER'] eq '0'">男<else/>女</if></p></span>
                        </div>
                        <div class="m7l_03a">
                          <span><p style="color:#696868;">出生年月：</p><p style="color:#000;">{$model.ebirth}</p></span>
                          <span><p style="color:#696868;">所在地区：</p><p style="color:#000;"><if condition="$model['CPROV'] eq ''">{$model.eaddress}<else/>{$model.cprov}</if></p></span>
                        </div>
                        <div class="m7l_03a">
                        	<span style="width:auto;"><p style="color:#696868;">职　　务：</p><p>{$model.epost}</p></span>
                        </div>
                        <div class="m7l_03a">
                            <span style="width:auto;"><p style="color:#696868;">职　　称：</p><p>{$model.eposttitle}</p></span>
                        </div>
                        <div class="m7l_03a">
                          <span style="width:auto;"><p style="color:#696868;">研究领域：</p><p style="color:#000;">
                          	<volist name="prokind" id="val">
                            	{$val.cnname}&nbsp;
                            </volist>
                          
                          
                          </p></span>
                        </div>
                        <div class="m7l_03a">
                          <span style="width:auto;"><p style="color:#696868;">单位名称：</p><p style="color:#000;">{$model.enitname}</p></span>
                        </div>
                        <div class="m7l_03a">
                          <span style="width:auto;"><p style="color:#696868;">所属部门：</p><p style="color:#000;">{$model.edepartment}</p></span>
                        </div>
                        <div class="m7l_03a" style="background:none;">
                          <span style="width:auto;"><p style="color:#696868;">单位地址：</p><p style="color:#000;">{$model.eaddress}</p></span>
                        </div>
                        </td>
                    </tr>
                </table>
                
               <!-- <div class="m7l_03b"><a href="#"><img src="images/xm_12.jpg" /></a></div> -->
              </div>
              
              <div class="m7l_04">
                <div class="m7l04_a">
                    <ul id="na2">
                     <li class="act1" onclick="na2(this,0)">任职情况</li>
                     <li class="nor1" onclick="na2(this,1)">获奖情况</li>
                     <li class="nor1" onclick="na2(this,2)">科技成就</li>
                     <li class="nor1" onclick="na2(this,3)">个人专著</li>
                    </ul>
                </div>
                <div class="m7l04_b" id="na2_Content0">
                  <p>
				  {$model.etakeoffce}
</p>
                </div>
                <div class="m7l04_b"  id="na2_Content1" style="display:none"> <p>{$model.ewinning}</p></div>
                <div class="m7l04_b"  id="na2_Content2" style="display:none"><p>{$model.escientific}</p></div>
                <div class="m7l04_b"  id="na2_Content3" style="display:none"><p>{$model.ebooks}</p></div>
                
              </div>
              
              <div class="m7l_05">
              
				
              
              </div>
            </div>
      
            
            <div class="m7_right">
            
            <div class="m7r_a">发布者</div>
               <img src="/images/xm_19.jpg" />
               <div class="m7r_b"><img src="/images/xm_24.jpg" /></div>
               <div class="m7r_c" style="width:auto;"><if condition="$user neq ''"><a href="{:U('home/Company/detailes?id='.$user['id'])}" target="_blank">{$user.nickname}</a><else/>网站管理员</if><!--<a href="#"><img src="images/xm_20.jpg" /></a> --></div>
               <div class="m7r_d"><img src="/images/xm_21.jpg" /><p>实名认证：已认证</p></div>
               <div class="m7r_e">
                <!-- <span><a href="#"><img src="images/xm_22.jpg" /></a></span>
                 <p>活跃度：<img src="images/xm_23.jpg" /></p> -->
               </div>
               <!--<div class="m7r_a">相关专家</div>
               <img src="images/xm_19.jpg" />
               <div class="m7r_b"><img src="images/xm_24.jpg" /></div>
               <div class="m7r_c"><a href="#"><img src="images/xm_20.jpg" /></a></div>
               <div class="m7r_d"><img src="images/xm_21.jpg" /><p>实名认证：已认证</p></div>
               <div class="m7r_e">
                 <span><a href="#"><img src="images/xm_22.jpg" /></a></span>
                 <p>活跃度：<img src="images/xm_23.jpg" /></p>
               </div>
           
                <div class="m7r_a">关键词</div>
               <img src="images/xm_19.jpg" />
               
               <div class="m7r_g">
                <a href="#"><img src="images/xm_26.jpg" /></a>
                <a href="#"><img src="images/xm_27.jpg" /></a>
                <a href="#"><img src="images/xm_28.jpg" /></a>
                <a href="#"><img src="images/xm_29.jpg" /></a>
                <a href="#"><img src="images/xm_30.jpg" /></a>
               
               </div> -->
            
            </div>
        
          </div>
       </div>
    
   </div>
<!------------------------------------------------------------中间----结束----------------------------------------> 

<style type="text/css">
.divaskingtitle{
	font-size:12px; line-height:20px;
}

</style>
<div style='display:none'>
	<div id="divasking">
    <form id="formconsultationm" method="post" aciton="{:U('home/Consultationm/project')}">
    	<div class="divaskingtitle">请填写咨询内容：</div>
    	<div style="text-align:center;">
        <textarea name="ccontent" id="ccontent" style="width:95%; border:1px solid gray; height:150px"></textarea>
        </div>
        <div style="text-align:center; height:30px; vertical-align:middle; margin-top:10px;">
           <span class="ke-button-common"><input type="submit" id="" class="ke-button-common ke-button" value="提交"></span>
           <span class="ke-button-common"><input type="button" class="ke-button-common ke-button" value="关闭" onclick="$('#cboxOverlay').click()"></span>
        </div>
        <input type="hidden" name="type" value="1" />
        <input type="hidden" name="pname" value="{$model.ename}" />
        <input type="hidden" name="id" value="{$model.id}" />
        
     </form>
    </div>	
</div>
<div style="display:none;">
	<a href="#divasking" id="askinghide">&nbsp;</a>
</div>

<script type="text/javascript">

$(function(){
	$("#formconsultationm").submit(function(){
		if($.trim($("#ccontent").val())==""){
			$("#ccontent").focus();
			return false;
		}
		$(this).attr("action","{:U('home/Consultationm/project')}");
		$(this).submit();
	})	
})

</script>
<include file="Public:footer"/>