<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

<script type="text/javascript" src="../../../../js/jquery-1.7.2.js" charset="gbk"></script>
<link rel="stylesheet" type="text/css" href="../../../../css/com.css">

<link rel="stylesheet" type="text/css" href="../../../../css/conn.css">
<link rel="stylesheet" type="text/css" href="../../../../css/sty.css">
<script type="text/javascript" language="javascript">
    $(function(){
		$(".export_10 ul li:odd").find(".export_11").attr("class","export_16");
		$(".export_10 ul li:odd").attr("class","export_15");
     })
</script>
 
 <script type="text/javascript">
$(function(){
    $("[type=content]").hide();
    $("[type=title]").click(function(){
			$(".news_active").attr("class","news_normal");
			$("[type=lock]").attr("class","cs");
			var chi= $(this).parent().parent().find("[type=content]");
			 
			if(chi.is(":hidden")){
				$("[type=content]").hide();
				chi.show();
				$(this).find("[type=lock]").attr("class","op");
				$(this).find("#demo").attr("class","QA_current");
			}else{
				chi.hide();
				$(this).find("[type=lock]").attr("class","cs");
				$(this).find("#demo").attr("class","QA_link");
			}
	}).eq(0).click();
	
})


</script>
</head>

<body>

<!------------------------------------------------------------头部----开始-----------------------------------------> 
 <div class="head">
    <div class="Main">
     <p> <a href="#"><img src="../../../../images/dl_01.jpg" /></a>
      <a href="#"><img src="../../../../images/dl_02.jpg" /></a>
      <a href="#"><img src="../../../../images/dl_03.jpg" /></a></p>
    </div>
 </div>
<!------------------------------------------------------------头部----结束----------------------------------------> 
<!------------------------------------------------------------导航----开始----------------------------------------> 

   <div class="nav">
     <img src="../../../../images/dl_04.jpg" />
     <ul>
       <li><a href="#">首页</a></li>
       <li><a href="#">分类</a></li>
       <li><a href="#">专家</a></li>
       <li><a href="#">项目</a></li>
       <li><a href="#">分类</a></li>
       <li><a href="#">专家</a></li>
       <li><a href="#">项目</a></li>
     </ul>
   </div>
<!------------------------------------------------------------导航----结束----------------------------------------> 

<!------------------------------------------------------------搜索----开始----------------------------------------> 
<div class="Main">
  <div class="search2">
    <form action="" method="get">
      <div class="s2_01">
        <p><img src="../../../../images/xm_03.jpg" /></p>
        <p><input name="" type="text"  value="输入技术关键词"/></p>
        <p><a href="#"><img src="../../../../images/xm_05.jpg" /></a></p>
      </div>
      <div class="s2_02">
        <input name="" type="button" value="精确搜索" />
      </div>
    </form>
     <div class="s2_03"><a href="#"><img src="../../../../images/xm_02.jpg" /></a></div>
  </div>
</div>

<!------------------------------------------------------------搜索----结束---------------------------------------->
      <div class="main6">
          <p>当前位置：<a href="#">首页</a> > <strong>项目详细</strong></p>
        </div> 
<div id="Container">
   <!--头部-->
   <!--头部-->
   <!--内容-->
       <div class="Wapper">
          <!-------------------------------------right------------------------------------------>
           <div class="QAleft">
                <div class="QA_01">
                    <ul>
                        <li><a href="#" class="link">关于我们</a></li>
                        <li><a href="#" class="link">产品优势</a></li>
                        <li><a href="#" class="link">合作机构</a></li>
                        <li><a href="#" class="link">媒体关注</a></li>
                        <li><a href="#" class="link">使用须知</a></li>
                        <li><a href="#" class="link">帮助中心</a></li>
                        <li><a href="#" class="current">常见问题</a></li>
                        <li><a href="#" class="link">侵权处理</a></li>
                        <li><a href="#" class="link">加入我们</a></li>
                        <li><a href="#" class="link">友情链接</a></li> 
                        <li><a href="#" class="link">联系我们</a></li>  
                    </ul>
                </div>
           </div>
           <!-------------------------------------right------------------------------------------>
           <!-------------------------------------left------------------------------------------>
              <div class="QAright">
                   <div class="export_03">
                         <div  class="export_04">常见问题</div>
                         <div class="export_05"><a href="#"><img src="../../../../images/exp_04.jpg" /></a><a href="#"><img src="Public/images/exp_05.jpg" /></a></div>
                   </div>
                   <div class="export_06">
                      
                       <div class="QA_02">
                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr type="title">
                        <td><div class="QA_link" id="demo">
                           <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                               <td><span>Q</span></td>
                               <td width="680px">忘记密码怎么办</td>
                               <td type="lock" class="cs" align="center"></td>
                              </tr>
                           </table>
                        </div></td>
                      </tr>
                      <tr type="content">
                         <td>
                           <div class="QA_03">
                               <P>一、标题突出</P>
                               <p>标题应尽量凸显技术的特色，在短短几个字内就表现出技术的核心价值，体现亮点，吸引需求方眼球。</p>
                               <p>如："一种能时时预防暖水袋爆炸的自动压控装置"</p>
                               <p>二、描述翔实</p>
                               <p>为了增加技术吸引力和说服力，建议从以下几个方面展开描述。</p>
                               <p>成果简介</p>
                               <p>技术创新点</p>
                           </div>
                         </td>  
                      </tr> 
                    </table>
                       </div>
                   </div>
                   
                   
                   
                   <div class="page">
                      <a href="#"><img src="../../../../images/page1.jpg" /></a>
                      <a href="#" class="link">1</a>
                      <a href="#" class="link">2</a>
                      <a href="#" class="hover">3</a>
                      <a href="#" class="link">4</a>
                      <span class="link">...</span>
                      <a href="#"><img src="../../../../images/page2.jpg" /></a>
                   </div>
                   
              </div>
           <!-------------------------------------left------------------------------------------>
          
           <!-------------------------------------clear------------------------------------------>
           <div class="clear"></div>
           <!-------------------------------------clear------------------------------------------>
       </div>
   <!--内容-->
   <!--头部-->
   <!--头部-->
   
   <!------------------------------------------------------------底部----开始----------------------------------------> 

<div class="foot">
  <div class="foot_a"><img src="../../../../images/dl_25.jpg" /></div>
  <div class="foot_b">
    <span>
      <p style=" padding-bottom:10px;"><a href="#"><font color="#EC3A38">关于我们</font></a></p>
      <p><a href="#">产品优势</a></p>
      <p><a href="#">合作机构</a></p>
      <p><a href="#">媒体关注</a></p>
    </span>
     <span>
      <p style=" padding-bottom:10px;"><a href="#"><font color="#EC3A38">使用须知</font></a></p>
      <p><a href="#">帮助中心</a></p>
      <p><a href="#">常见问题</a><img src="../../../../images/dl_26.jpg" /></p>
      <p><a href="#">侵权处理</a></p>
    </span>
     <span>
      <p style=" padding-bottom:10px;"><a href="#"><font color="#EC3A38">联系我们</font></a></p>
      <p><a href="#">加入我们</a></p>
      <p><a href="#">友情链接</a></p>
      <p><a href="#">联系我们</a></p>
    </span>
  </div>
  <div class="foot_c">
    <a href="#"><img src="../../../../images/dl_27.jpg" /></a>
    <a href="#"><img src="../../../../images/dl_28.jpg" /></a>
    <a href="#"><img src="../../../../images/dl_29.jpg" /></a>
  
  </div>

</div>


<!------------------------------------------------------------底部----开始----------------------------------------> 
</div>
</body>
</html>
