<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科技天下网——融资</title>
<link href="/css/Rongzi/common.css" rel="stylesheet" type="text/css">
<link href="/css/Rongzi/type.css?20150215" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/Rongzi/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/Rongzi/common.js" language="javascript"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="/js/PNG.js"></script>
<script type="text/javascript" src="/js/PNGS.js"></script>
<![endif]-->
</head>

<body id="index">
<!-----------------------------------------Top--------------------------------------------->
<include file="Public:header"/>
<!-----------------------------------------Top--------------------------------------------->
<!-----------------------------------------middle--------------------------------------------->
<div class="index_01">
   <div class="box" style=" height:432px;">
       <div class="container">
           <div  class="pic"><img src="/images/Rongzi/index_08.png"></div>
       </div>
   </div>
</div>
<div class="container">
   <div class="index_02">
   <img src="/images/Rongzi/index_06.jpg" width="1003" height="427" border="0" usemap="#Map" />
	<map name="Map" id="Map"><area shape="rect" coords="251,8,357,45" href="/index.php/Zixun/Zixun/service"  onfocus="this.blur();"/>
	<area shape="rect" coords="27,111,141,156" href="/index.php/Zixun/Zixun/cxzixun"  onfocus="this.blur();"/>
	<area shape="rect" coords="45,221,147,256" href="/index.php/Zixun/Zixun/cxzixun"   onfocus="this.blur();"/>
	<area shape="rect" coords="99,319,254,350" href="/index.php/Zixun/Zixun/cxzixun"  onfocus="this.blur();"/>
	<area shape="rect" coords="755,30,865,59" href="/index.php/Zixun/Zixun/zixun"  onfocus="this.blur();"/>
	<area shape="rect" coords="840,169,947,206" href="/index.php/Zixun/Zixun/zixun"  onfocus="this.blur();"/>
	<area shape="rect" coords="761,279,961,315" href="/index.php/Zixun/Zixun/jsh"  onfocus="this.blur();"/>
</map>
   </div>
</div>
<div class="index_03">
   <div class="container">
       <div class="pic"><img src="/images/Rongzi/index_08.jpg"></div>
       <div class="box">
            <div class="index_04">行业专家团队</div>
            <div class="index_05">行业专家团队来自于中国高科技产业化研究会、中国光学工程学会、工信部国家中小企业公共服务平台专家库及各产业联盟核心专家团队，拥有多年技术跟踪和行业趋势分析的经验，掌握了行业上下游产业链供需资源，可准确判断行业发展动态及分析国家最新政策对产业的影响 。</div>
       </div>
       <div class="clear"></div>
   </div>
</div>
<div class="container">
   <div class="index_06">
       <div class="box" style="width:580px;">
           <div class="index_04">金融专家团队</div>
           <div class="index_05">财务专家团队来自于国际投行、咨询公司、律所、智库等各类公司和研究机构，拥有各个领域的最高专业资质（CFA、ACCA、CPA、CPV、律师、专利代理人）和最高学位，运作了大量投、融资和兼并重组业务，掌握大量项目资源，熟悉各类融资渠道，与各类资金方均有业务往来。</div>
       </div>
       <div class="pic"><img src="/images/Rongzi/index_09.jpg"></div>
       <div class="clear"></div>
   </div>
</div>
<div class="index_07">
   <div class="container">
       <div class="index_08">
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
               <tr>
                  <td colspan="2" align="center"><div class="index_04">战略合作伙伴</div></td>
               </tr>
               <tr>
                  <td width="115"><img src="/images/Rongzi/index_11.jpg"></td>
                  <td class="index_09">拥有证券资质的中介事务所</td>
               </tr>
          </table>
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
             <tr>
                <td class="index_10" width="15"><img src="/images/Rongzi/index_13.jpg"></td>
                <td class="index_10" width="327">会计师事务所</td>
                <td class="index_10" width="15"><img src="/images/Rongzi/index_14.jpg"></td>
                <td class="index_10" width="327">评估公司</td>
                 <td class="index_10" width="15"><img src="/images/Rongzi/index_15.jpg"></td>
                <td class="index_10">律师事务所</td>
             </tr>
             <tr>
                <td colspan="2">
                   <div  class="index_11">
                       <div class="index_12">
                           <ul>
                               <li> 瑞华会计师事务所</a></li>
                               <li> 立信会计师事务所</a></li>
                               <li> 天健会计师事务所</a></li>
                               <li> 信永中和会计师事务所</a></li>
                               <li> 大信会计师事务所</a></li>
                               <li> 天职会计师事务所</a></li>
                               <li> 致同会计师事务所</a></li>
                               <li> 中审亚太会计师事务所</a></li>
                               <li> 中汇会计师事务所</a></li>
                           </ul>
                       </div>
                   </div>
                </td>
                 <td colspan="2">
                   <div  class="index_11" style="background-color:#fae6b9">
                       <div class="index_12">
                           <ul>
                               <li> 瑞华会计师事务所 </li>
                               <li> 立信会计师事务所 </li>
                               <li> 天健会计师事务所 </li>
                               <li> 信永中和会计师事务所 </li>
                               <li> 大信会计师事务所 </li>
                               <li> 天职会计师事务所 </li>
                               <li> 致同会计师事务所 </li>
                               <li> 中审亚太会计师事务所 </li>
                               <li> 中汇会计师事务所 </li>
                           </ul>
                       </div>
                   </div>
                </td>
                 <td colspan="2">
                   <div  class="index_11" style="background-color:#98ad58;">
                       <div class="index_12">
                           <ul>
                               <li> 瑞华会计师事务所 </li>
                               <li> 立信会计师事务所 </li>
                               <li> 天健会计师事务所 </li>
                               <li> 信永中和会计师事务所 </li>
                               <li> 大信会计师事务所 </li>
                               <li> 天职会计师事务所 </li>
                               <li> 致同会计师事务所 </li>
                               <li> 中审亚太会计师事务所 </li>
                               <li> 中汇会计师事务所 </li>
                           </ul>
                       </div>
                   </div>
                </td>
             </tr>
          </table>
       </div>
   </div>
</div>
<div class="container">
    <div class="index_13">
          <table cellpadding="0" cellspacing="0" border="0">
               <tr>
                  <td width="115"><img src="/images/Rongzi/index_12.jpg"></td>
                  <td class="index_09">投融资机构</td>
               </tr>
          </table>
    </div>
    <div class="index_14">
       <a href="#"><img src="/images/Rongzi/index_16.jpg"></a>
       <a href="#"><img src="/images/Rongzi/index_17.jpg"></a>
       <a href="#"><img src="/images/Rongzi/index_18.jpg"></a>
       <a href="#"><img src="/images/Rongzi/index_19.jpg"></a>
       <a href="#"><img src="/images/Rongzi/index_20.jpg"></a>
       <a href="#"><img src="/images/Rongzi/index_21.jpg"></a>
       <a href="#"><img src="/images/Rongzi/index_22.jpg"></a>
    </div>
</div>

<!-----------------------------------------middle--------------------------------------------->
<!-----------------------------------------footer--------------------------------------------->
<div class="footerbg">
   <div class="container">
       <div class="footer">
          <div class="foot"><a href="#">关于我们</a>|<a href="#">广告咨询</a>|<a href="#">帮助信息</a>|<a href="#">联系我们</a>|<a href="#">会员服务</a>|<a href="#">网站导航</a>|<a href="#">国际站</a></div>
          <p>我们的网站：<a href="#">科济天下网</a>|<a href="#">产品商贸网</a>|<a href="#">技术</a>|<a href="#">会展</a>|<a href="#">招商</a>|<a href="#">咨询评估</a>|<a href="#">创新实验室</a></p>
          <p>客服热线022-58168870   客服传真：022-58168885    业务022-58168870</p>
          <p>Copyright © 2015, All Rights Reserved. </p>
          <p>中文版权所有－科济天下网网站所有图片、文字未经许可不得拷贝、复制。</p>
       </div>
   </div>
</div>
<!-----------------------------------------footer--------------------------------------------->
 <div class="index_15"><a href="{:U('Zixun/details')}" class="btn"></a></div>
</body>
</html>
