<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>科技天下网——技术研发咨询</title>
<link href="/css/Rongzi/common.css" rel="stylesheet" type="text/css">
<link href="/css/Rongzi/type.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/Rongzi/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/Rongzi/common.js" language="javascript"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="/js/PNG.js"></script>
<script type="text/javascript" src="/js/PNGS.js"></script>
<![endif]-->
</head>

<body id="jsh">
<!-----------------------------------------Top--------------------------------------------->
<include file="Public:header"/>
<!-----------------------------------------Top--------------------------------------------->
<!-----------------------------------------middle--------------------------------------------->
<div class="server_01">
   <img src="/images/Rongzi/5_00.jpg">
</div>
<div class="server_01">
   <img src="/images/Rongzi/5_01.jpg">
</div>
 <div align="center"><img src="/images/Rongzi/5_02.jpg"></div>
<!-----------------------------------------middle--------------------------------------------->
<!-----------------------------------------footer--------------------------------------------->
<div class="footerbg">
   <div class="container">
       <div class="footer">
          <div class="foot"><a href="#">关于我们</a>|<a href="#">广告咨询</a>|<a href="#">帮助信息</a>|<a href="#">联系我们</a>|<a href="#">会员服务</a>|<a href="#">网站导航</a>|<a href="#">国际站</a></div>
          <p>我们的网站：<a href="#">科济天下网</a>|<a href="#">产品商贸网</a>|<a href="#">技术</a>|<a href="#">会展</a>|<a href="#">招商</a>|<a href="#">咨询评估</a>|<a href="#">创新实验室</a></p>
          <p>客服热线022-58168870   客服传真：022-58168885    业务022-58168870</p>
          <p>Copyright © 2015, All Rights Reserved. </p>
          <p>中文版权所有－科济天下网网站所有图片、文字未经许可不得拷贝、复制。</p>
       </div>
   </div>
</div>
<!-----------------------------------------footer--------------------------------------------->
 <div class="index_15"><a href="{:U('Zixun/details')}" class="btn"></a></div>
</body>
</html>
