<script type="text/javascript" src="__PUBLIC__/statics/js/commonedit.js"></script>
<div class="topBox">
	<div class="top">
    	<h1><a href="{:U('User/login')}">登录</a>
        	<a href="{:U('User/register')}">免费注册</a>
            客服热线：400-000-0000
        </h1>
        <p><a href="#">会员服务</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
        	<a href="#">网站导航</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">English</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <div class="logo">
        	<img src="/images/Keji/logo1_02.jpg" />
        </div>
    </div>
</div>
<div class="navBox">
    <div class="nav">
    	<table width="850" border="0" height="140" cellspacing="0";>
          <tr height="44px;">
            <td width="321" class="num1">
            	<dl>
                    <dd class="currentDt"><a href="#">新闻</a></dd>
                    <dt><a href="#">产经</a>&nbsp;&nbsp;&nbsp;
                      <a href="#">政策</a>&nbsp;&nbsp;&nbsp;
                      <a href="#">企业</a>&nbsp;&nbsp;&nbsp;
                      <a href="#">热点</a>&nbsp;&nbsp;
                  <a href="#">新闻专题</a>&nbsp;&nbsp;</dt><br />
                    <dd><a href="#">产品</a></dd>
                    <dt><a href="#">供应</a>&nbsp;
                      <a href="#">求购</a>&nbsp;
                        <a href="#">公司</a>&nbsp;
                        <a href="#">市场分析</a>&nbsp;
                        <a href="#">二手设备</a>&nbsp;&nbsp; &nbsp;</dt> 
                 </dl>
            </td>
            <td width="232"><dl>
                    <dd class="currentDt"><a href="#">咨询评估</a></dd>
                    <dt><a href="#">技术攻关</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">融资需求</a></dt><br />
                    <dd><a href="#">创新实验室</a></dd>
                    <dt><a href="#">开放实验室</a>&nbsp;&nbsp;&nbsp;
                        <a href="#">仪器共享</a>&nbsp;&nbsp;</dt>
                </dl>
        	</td>
            <td colspan="2" class="current-tr" width="295">
                <dl class="rightDl">
                    <dd class="currentDt"><a href="#">在线对接会</a></dd>
                    <dt><a href="#">会议安排</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">在线会议室</a>
                    </dt><br />
                    <dd><a href="#">招商</a></dd>
                    <dt><a href="#">园区推荐</a>
                        <a href="#">热点政策</a>
                        <a href="#">融资项目</a>
                    </dt>
                </dl>                    
            </td>
            </tr>
          <tr height="44px;">
            <td width="321" height="44px;">
            	<dl><dd class="currentDt"><a href="#">数据资料</a></dd>
                    <dt><a href="#">图书</a>&nbsp;&nbsp;&nbsp;
                        <a href="#">影音</a>&nbsp;&nbsp;&nbsp;
                        <a href="#">行业报告</a>&nbsp;&nbsp;
                        <a href="#">PPT</a>&nbsp;&nbsp;
                        <a href="#">论文</a>&nbsp;&nbsp;</dt><br />
                    <dd><a href="#">会展</a></dd>
                    <dt><a href="#">精品活动</a>&nbsp;
                        <a href="#">会展库</a>&nbsp;
                        <a href="#">在线会展</a>&nbsp;
                        <a href="#">会展提交</a>&nbsp;&nbsp;</dt>
                </dl>
            </td>
          
            <td colspan="3">
            	<table width="529" border="0">
            	  <tr>
            	    <td width="211">
                        <dl class="footTr">
                          <dd class="currentDt"><a href="#">专家</a></dd>
                            <dt><a href="#">专家库</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">访谈</a></dt><br />
                            <dd><a href="#">技术项目</a></dd>
                            <dt><a href="#">科技成果</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">融资项目</a>&nbsp;&nbsp;</dt>
                        </dl>
                	</td>
            	    <td width="93">
                        <dl class="footTr">
                            <dd class="currentDt icon"><a href="#">培训认证</a></dd><br />
                            <dd class="icon"><a href="#">专题行业数据</a>&nbsp;&nbsp;</dd>
                        </dl>
                	</td>
            	    <td class="current-tr">
                        <dl class="footTr">
                            <dd class="currentDt"><a href="#">学会集群</a></dd>
                            <dt><a href="#">学会介绍</a><a href="#" class="currentA">会员天下</a></dt><br />
                            <dt><input class="but" name="" type="button" value="我有需求"/></dt>
                        </dl>
                    </td>
          	    </tr>
          	  </table>
            	
                
                
            </td>
          </tr>
        </table>
    </div>
</div>