<div class="topBox">
	<div class="top">
    	<h1>
        	<a href="{:U('User/login')}">登录</a>
        	<a href="{:U('User/register')}">免费注册</a>
            客服热线：400-000-0000
        </h1>
        <p>
        	<a href="#">&nbsp;&nbsp;会员服务&nbsp;&nbsp;</a>|
            <a href="#">&nbsp;&nbsp;网站导航&nbsp;&nbsp;</a>|
            <a href="#">&nbsp;&nbsp;English&nbsp;&nbsp;</a>
        </p>
    </div>
</div>
<div class="logoBox">
    <a href="{:U('User/login')}"><img src="/images/Keji/logo_06.jpg" /></a>
    <span><a href="#">返回首页</a></span>
</div>